svg {
    display: block;
    /* margin-top: 150px !important; */
    width: 100%;
    height: 1000px;
    background-color: lightskyblue
  }
  
  svg .country:hover {
    stroke: black;
    stroke-width: 1px;
    cursor: pointer;
    
  }
  .country {
    fill: lightgreen;
  }